.main {
  width: 100vw;
  height: 100vh;
  background-image: url(https://i.imgur.com/fn6Kg8U.png);
  background-size: 100% 100%;
  font-family: Poppins;
  overflow-x: hidden;
}

.background {
  position: absolute;
  width: inherit;
  height: inherit;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.top_element_landing {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-7%);
}

.image {
  aspect-ratio: initial;
  width: 170px;
  transform: translateY(2px);
}

.logout_zone {
  aspect-ratio: initial;
  width: 35px;
  float: left;
  margin-left: 10%;
}

.content_landing {
  /* background-color: aqua; */
  height: 80%;
  display: flex;
  justify-content: center;
}

.form_landing {
  width: 100%;
  height: 80%;
}

.welcome_landing {
  width: 100%;
  height: 50%;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.welcome_text {
  font-size: 3vw;
  color: white;
  letter-spacing: 2px;
}

.status_text {
  color: white;
  text-align: center;
  font-size: 15px;
  width: 100%;
}

.username_landing {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.password {
  height: 20%;
  width: 100%;
  /* background-color: rgb(43, 183, 226); */
  display: flex;
  justify-content: center;
}

.username_input_landing {
  /* background-color: rgb(97, 161, 0); */
  width: 60%;
  height: 75%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: white;
  border: 1px, solid;
  border-color: rgba(255, 255, 255, 0.684);
}

.response {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.response_input_landing {
  /* background-color: rgb(97, 161, 0); */
  width: 70%;
  height: 75%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: white;
  border-color: rgba(255, 255, 255, 0.684);
}

.icons_right {
  width: 10%;
  height: 30%;
  display: flex;
  align-items: center;
}

.username_input_field {
  /* background-color: rgb(97, 161, 0); */
  font-family: Poppins;
  background-color: transparent;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: white;
  padding-left: 20px;
  border-color: transparent;
}

.test {
  /* background-color: rgb(97, 161, 0); */
  font-family: Poppins;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 20px;
  border-top: solid 1px;
  border-color: rgb(255, 255, 255);
}

.username_input_field {
  outline: none;
}

.username_input_field::placeholder {
  font-family: Poppins;
  color: white;
}

.voice_control {
  width: 50%;
  display: flex;
  justify-content: center;
}

.send {
  width: 40%;
  display: flex;
  justify-content: center;
}

.voice_logo {
  aspect-ratio: initial;
  width: 50px;
}

.send_logo {
  aspect-ratio: initial;
  width: 50px;
}

@media (max-width: 1000px) {
  .form {
    width: 100%;
    height: 80%;
    /* background-color: rgb(108, 243, 187); */
  }

  .welcome_text {
    font-size: 5vw;
  }

  .icons_right {
    width: 20%;
  }

  .response_input_landing {
    /* background-color: rgb(97, 161, 0); */
    width: 80%;
  }
}

.lower_part_landing {
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.text_footer {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-weight: 200;
}

.icon_footer {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 550px) {
  .welcome_text {
    font-size: 7vw;
  }

  .top_element {
    transform: translateX(-11%);
  }

  .logout_zone {
    aspect-ratio: initial;
    width: 30px;
  }
}

.second_page {
  height: 100vh;
}

.third_page {
  height: 100vh;
}

.title_second_page {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 4vw;
  padding-left: 6%;
  font-weight: 600;
  color: white;
}

.title_third_page {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 4vw;
  padding-left: 6%;
  font-weight: 600;
  color: white;
}

.account_container {
  display: inline-flex;
  width: 100%;
  height: 75%;
}

.big_account_container {
  display: inline-flex;
  width: 100%;
  height: 75%;
}

.account_zone_1 {
  width: 33.3%;
  display: flex;
  justify-content: center;
}

.big_account_zone {
  width: 100%;
  display: flex;
  justify-content: center;
}

.account_zone_2 {
  width: 33.3%;
  display: flex;
  justify-content: center;
}

.account_zone_3 {
  width: 33.3%;
  display: flex;
  justify-content: center;
}

.account_holder_1 {
  height: 80%;
  width: 60%;
  border-radius: 10px;
  border: 1px solid white;
  background: rgb(25, 26, 28);
  background: linear-gradient(
    135deg,
    rgba(25, 26, 28, 1) 0%,
    rgba(39, 29, 44, 1) 100%
  );
}

.big_account_holder {
  height: 80%;
  width: 60%;
  border-radius: 10px;
  border: 1px solid white;
  background: rgb(25, 26, 28);
  background: linear-gradient(
    135deg,
    rgba(25, 26, 28, 1) 0%,
    rgba(39, 29, 44, 1) 100%
  );
}

.account_holder_2 {
  height: 80%;
  width: 60%;
  border-radius: 10px;
  border: 1px solid white;
  background: rgb(25, 26, 28);
  background: linear-gradient(
    135deg,
    rgba(25, 26, 28, 1) 0%,
    rgba(39, 29, 44, 1) 100%
  );
}

.account_holder_3 {
  height: 80%;
  width: 60%;
  border-radius: 10px;
  border: 1px solid white;
  background: rgb(25, 26, 28);
  background: linear-gradient(
    135deg,
    rgba(25, 26, 28, 1) 0%,
    rgba(39, 29, 44, 1) 100%
  );
}

.account_info_1 {
  height: 50%;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid white;
}

.account_info_2 {
  height: 50%;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid white;
}

.account_info_3 {
  height: 50%;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid white;
}

.big_account_history {
  height: 50%;
  border-radius: 0px 0px 10px 10px;
}

.account_history_1 {
  height: 50%;
  border-radius: 0px 0px 10px 10px;
}

.account_history_2 {
  height: 50%;
  border-radius: 0px 0px 10px 10px;
}

.account_history_3 {
  height: 50%;
  border-radius: 0px 0px 10px 10px;
}

.account_name_1 {
  color: white;
  height: 35%;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.account_name_2 {
  color: white;
  height: 35%;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.account_name_3 {
  color: white;
  height: 35%;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.account_sold_pozitiv_1 {
  color: green;
  font-size: 40px;
  font-weight: 600;
  height: 65%;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.account_sold_pozitiv_2 {
  color: green;
  font-size: 40px;
  font-weight: 600;
  height: 65%;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.account_sold_pozitiv_3 {
  color: green;
  font-size: 40px;
  font-weight: 600;
  height: 65%;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.account_sold_negativ_1 {
  color: rgb(128, 0, 0);
  font-size: 40px;
  font-weight: 600;
  height: 65%;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.account_sold_negativ_2 {
  color: rgb(128, 0, 0);
  font-size: 40px;
  font-weight: 600;
  height: 65%;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.account_sold_negativ_3 {
  color: rgb(128, 0, 0);
  font-size: 40px;
  font-weight: 600;
  height: 65%;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.account_history_title {
  color: white;
  height: 35%;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.big_account_history_title {
  color: white;
  height: 20%;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.account_history_content {
  font-size: 40px;
  font-weight: 600;
  height: 65%;
  padding-left: 5%;
  display: flex-block;
}

.big_account_history_content {
  font-size: 40px;
  font-weight: 600;
  height: 50%;
  padding-left: 5%;
  display: flex-block;
}

.pozitive_entry {
  height: 33.3%;
  width: 100%;
  color: green;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.negative_entry {
  height: 33.3%;
  width: 100%;
  color: rgb(128, 0, 0);
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: 400;
}

#smaller {
  transform: translateY(7px);
  font-size: 20px;
}

@media (max-width: 870px) {
  .account_container {
    height: 300vh;
  }

  .account_container {
    height: 200vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .account_zone_1,
  .account_zone_2,
  .account_zone_3 {
    height: 66vh;
    width: 100%;
  }

  .third_page {
    padding-top: 115vh;
    height: 100vh;
  }
}
