.main {
  width: 100vw;
  height: 100vh;
  background-image: url(https://i.imgur.com/fn6Kg8U.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.background {
  position: absolute;
  width: inherit;
  height: inherit;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.top_element {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  aspect-ratio: initial;
  width: 170px;
}

.content {
  background-color: aqua;
  height: 80%;
  display: flex;
  justify-content: center;
}

.form {
  width: 50%;
  height: 90%;
  background-color: rgb(108, 243, 187);
}

.welcome {
  background-color: brown;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome_text {
  font-size: 3vw;
  color: white;
}

.username {
  height: 20%;
  width: 100%;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
}

.password {
  height: 20%;
  width: 100%;
  background-color: rgb(43, 183, 226);
  display: flex;
  justify-content: center;
}

.username_input {
  background-color: rgb(97, 161, 0);
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.password_input {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  background-color: rgb(156, 0, 161);
  border-radius: 10px;
}

.change_login {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.button_login {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(212, 209, 6);
}

.button {
  width: 40%;
  height: 55%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .form {
    width: 100%;
    height: 20%;
    background-color: rgb(108, 243, 187);
  }

  .welcome_text {
    font-size: 5vw;
  }
}

@media (max-width: 550px) {
  .welcome_text {
    font-size: 7vw;
  }
}
